@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.map {
  width: 500px;
  height: 500px;
}

.stars-rate {
  width: 25px;
  height: 25px;
}

.comment {
  border: 5px solid $primary;
  border-radius: 5px;
}

